[Unit]
Description=Run custom script at startup
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/startup.sh

[Install]
WantedBy=default.target
