[Unit]
Description=Run custom script at startup
#After=network.target systemd-user-sessions.service network-online.target
After=syslog.target network.target rpcbind.service


[Service]
User=root
Type=simple
ExecStart=/usr/local/bin/startup.sh

[Install]
WantedBy=default.target
